body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: 333;
	line-height: 1.6;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	
	margin: 20px 0;

	border:0;
	background-color: #e5e5e5;

}
/* Container */
.container {
		width: 100%;
		min-width: 1200px;
		margin: 0 auto;
		
}

/* Intro */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	width: 100%;
	height: 100vh;
	background: url('../Images/Intro.jpg') center
	no-repeat;
	background-size: cover;
}

.intro__title {
	color: #fff;
	font-size: 120px;
	font-weight: 700;
	text-transform: uppercase;

	
	line-height: 1;
}

.intro__title:after {
	content: '';
	display: block;
	width: 60px;
	height: 3px;

	background-color: #fff;
	margin: 60px auto ; 

}

.intro__suptitle {
	font-family: 'Kaushan Script',
	cursive;
	font-size: 43px;
	color: #fff;
	text-align: center;

}

.intro__inner {
	width: 100%;
	max-width: 700px;
	margin: 40px auto;
	text-align: center;
	
}

/* header */
.header	{
	padding-top: 30px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header__logo {
	margin-left: 20px;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Nav */
.nav {
	margin-right: 50px;
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	transition: color .2s linear;
	position: relative;
}
.nav__link.active {
	color: #fce38a;

}

.nav__link:after {
	content: "";
	border: 1px solid #fce38a;
	border-radius: 20px;
	width: 100%;
	height: 3px;
	opacity: 0;
	background-color: #fce38a;
	position: absolute;	
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity 0.2s linear;
}

.nav__link:hover {
	color: #fce38a;

}

.nav__link:hover:after,
.nav__link.active:after {
	opacity: 1;
}

/* Button */

.btn {
	display: inline-block;
	vertical-align: top;
padding: 8px 30px;

	border: 3px solid #fff;

	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

	transition: background .1s linear,
	color .1s linear;
}
.btn:hover {
	background-color: #fff;
	color: #333;
}

/* Slider */

.slider {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;


}

.slider__item {
	width: 17%;

	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.7;
	position: relative;

	padding: 20px 0;
	border-top: 3px solid;
	margin-left: 20px;
	margin-right: 20px;
}

.slider__item.active {
opacity: 1;

}

.slider__item.active:before {
content: "";
display: block;
width: 70px;
height: 3px;
background-color: #f38181;

position: absolute;
top: -3px;
left: 0;	
z-index: 1;
}

.slider__num {
	font-size: 24px;
	font-weight: 700;
}

/* Section */

.section {
padding: 80px 0;

}

.section--devices {
	background: url("../Images/Devices/DeviceBackgr.jpeg")
	center no-repeat;
	background-size:cover;
	padding-bottom: 0;
	margin-bottom: 40px;
}

.section--gray {
background-color: #f8f8f8;
}

.section__header {
margin: 0 auto 80px;
width: 100%;
max-width: 950px;
text-align: center;

}


.section__suptitle {
	font-size: 24px;
	color: #333;
	font-family: 'Kaushan Script',
	cursive;
}

.section__title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.section__title:after {
content: '';
display: block;
width: 60px;
height: 3px;
margin: 30px auto 30px;

background-color: #f38181;

}

.section__text {
	font-size: 15px;
	color: #999;
}

/* About */
.about {
	display: flex;
	justify-content: space-between;
	margin-left: 30px;
	margin-right: 30px;

}

.about__item {
	width: 380px;
	
	background-color: #95e1d3;
	position: relative;
}

.about__item:hover .about__img {
transform: translate3d(-10px,-10px,0);

}

.about__item:hover .about__img img {
	opacity: .1;
	
}

.about__item:hover .about__text {
opacity: 1;

}

.about__img {
	background: linear-gradient(to bottom,
		#f38181, #fce38a);
	transition: transform .3s linear;
}

.about__img img {
	display: block;
	transition: opacity .3s linear;

}

.about__text {
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	
	opacity: 0;

	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);

	transition: opasity .3s linear;
}

/* Statistics */ 
.statistics {
	background-color: #95e1d3;
}

.stat {
	display: flex;
	margin-right: 20px;
	margin-left: 20px;
}

.stat__item {
	flex: 1 1 0;

	padding: 70px 25px;

	border-left: 1px solid #b5eae0;

	text-align: center;

	color: #fff;

}

.stat__item:last-child {
	border-right: 1px solid #b5eae0;
}

.stat__count {
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
}

.stat__text {
	font-size: 14px;
	text-transform: uppercase;
}

/* Service */

.services {
	display: flex;
}

.services__item {
	flex: 1 1 0;

	padding-left: 90px;
	position: relative;
}

.services__icon {
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 1;
}

.services__title {
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

.services__text {
	font-size: 15px;
	color: #999;

}

/* Devices */
.devices {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}

.devices__item {
	display: block;
}

.devices__item--iphone {
	position: absolute;
	bottom: -30px;
	right: 85px;
	z-index: 1;
}

/* We Do */
.wedo {
	display: flex;

}

.wedo-item {
	width: 50%;
}

/* Accordion */
.accordion__item {
	margin-bottom: 10px;
	border: 1px solid #f5f5f5;
}

.accordion__item.active 
.accordion__content {
	display:block;
}

.accordion__item.active
.accordion__header {
	border-bottom-color: #f5f5f5;
}

.accordion__item.active
.accordion__header:after{
	transform: translateY(-50%)
	rotate(-45deg);
	margin-top: 5px;
}


.accordion__icon {
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 1;

	transform: translateY(-50%);
}

.accordion__header {
	border-bottom: 1px solid transparent;
	padding: 15px 20px 15px 65px;
	position: relative; 
	
	cursor: pointer;
}

.accordion__header:after {
content: "";
display: block;
width: 16px;
height: 16px;

border-top: 2px solid #ccc;
border-right: 2px solid #ccc;

position: absolute;
top: 50%;
right: 20px;
z-index: 1;

transform: translateY(-50%)
rotate(135deg);
}

.accordion__content {
	display: none;
	padding: 15px 20px;
	font-size: 15px;
	color: #999;
	font-weight: 300;
	font-style: italic;
}

.accordion__title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
	
}

/* Reviews */
.reviews {
	padding: 0 110px;
	position: relative;
}

.reviews__item {
	padding-left: 205px;
	position: relative;
}

.reviews__photo {
	border: 2px solid #95e1d3;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.reviews__text {
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	color: #999;
	margin-bottom: 15px;
}

.reviews__author {
	font-size: 24px;
	color: #333;
	font-family: 'Kaushan Script',
	cursive;

}

.reviews__author:before {
	content: "";
	display:inline-block;
	vertical-align: middle;
	width: 60px;
	height: 3px;
	margin-right: 10px;

	background-color: #f38181;

}

.reviews__btn {
	font-size: 0;
	color: transparent;
	position: absolute;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
}

.reviews__btn:after {
content: "";
display: block;
width: 16px;
height: 16px;

border-top: 2px solid #ccc;
border-left: 2px solid #ccc;


}

.reviews__btn--prev {
	left: 25px;
	transform: rotate(-45deg);
}

.reviews__btn--next {
	right: 25px;
	transform: rotate(135deg);
}